body {
	text-align: center; 
	font-family: 'Open Sans', sans-serif;
	color: #000000; 
	background-color: #ffffff; 
	}
	
@font-face {
    font-family: ring;
    src: url(media/font/ring.ttf);
}

a {
	text-decoration: none; 
	color: #0080FF;
	}
	
h1 {
	color: #000000; 
	font-size: 50px;
	font-family: 'Bilbo Swash Caps', sans-serif;
	}
	
h2 {
	color: #000000; 
	font-family: sans-serif;
}

h3 {
	color: #101010;
	font-size: 10px;
}
	
.wrapper {
	padding: 0% 5% 0% 5%;
	}
	
.header {
	padding: 10px 10px 10px 10px;
	}
	
.footer {
	padding-top: 10px;
}
	
	
@media only screen and (min-width: 800px) {
	.wrapper{
		padding: 0% 25% 0% 25%;
	}
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 30px;
	}
}
	
	
	
	
	